<ion-content>
  <!-- <div *ngFor='let item of orders'>
    <div (click)='viewOrderDetails(item)'> {{item.orderID}}</div>
  </div> -->

  <div class="content-container">
    <div class="list">
      <div class="header">
        <div class="closer">
          <ion-icon name="close"></ion-icon>
        </div>
        Inventory
      </div>
      <div class="items">
        <ion-card id="item">
          <div id="image"><img src="../../../assets/(7) Facebook_files/13131656_978029165651981_599288125640070_o(2).jpg" alt=""></div>
          <div id="prodName"><b>Product Name</b></div>
          <div id="skU"><b>SKU: </b> 8612359723460</div>
          <div id="quantity"><b>Qty: </b>55</div>
          <div id="increment">
            <div>
              <ion-icon name="add"></ion-icon>
            </div>
            <div>
              <ion-icon name="remove"></ion-icon>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
