<ion-content>
  <div id='main'>
    <div style='width: 90%; text-align: center; margin: auto; margin-top: 50px;'>
      <div style='display: block;'>
        <div id='left' style="position: relative; display: inline-block; width: 10%">
          <div style='position: relative; display: block; padding: 15px 0;'>
            <img [src]="imageSide" alt="">
            <input type='file' (change)='uploadImage($event, "imageSide")'>
          </div>
          <div style='position: relative; display: block; padding: 15px 0;'>
            <img [src]="imageBack" alt="">
            <input type='file' (change)='uploadImage($event, "imageBack")'>
          </div>
          <div style='position: relative; display: block; padding: 15px 0;'>
            <img [src]="imageTop" alt="">
            <input type='file' (change)='uploadImage($event, "imageTop")'>
          </div>
        </div>
        <div id='center' style="position: relative; display: inline-block; width: 45%">
          <div style="position: relative; display: inline-block; padding : 10px 10px"> 
            <img [src]='image' alt=''>
          </div>
        </div>
        <div id='right' style="position: relative; top: 0; display: inline-block; width: 45%;">
          <div>
            <input type='file' (change)='uploadImage($event, "image")'><br>
            <input type="text" [(ngModel)]='updateName'><br>
            <input type="number" [(ngModel)]='updatePrice'>&nbsp; &nbsp; <input type="number" value = '{{promoSalePrice}}'><br>
            <input type="text" [(ngModel)]='updateDescription'><br>
            <input type='checkbox'>S &nbsp;
            <input type='checkbox'>M &nbsp;
            <input type='checkbox'>L
              
            <div id='promo'>
              <input type='number' placeholder="Percentage" [(ngModel)]='promoPercentage' (keyup)='calculateSalePrice()'><button (click)='promoteProduct()'>Promote</button>
              <input type='date' [(ngModel)]='promoStartDate'><input type="date" [(ngModel)]='promoEndDate'>
            </div>
            <button (click)='saveEdit()'>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
