<ion-header id="web">
  <ion-toolbar>
    <div class="navigation-bar-upper-section">
      <div class="logo">
        <img src="../../../assets/Group 235.png" alt="">
      </div>
      <div class="nav-section">
        <div class="search-section">
          <!-- <ion-searchbar></ion-searchbar> -->
        </div>
        <div class="buttons">
          <div>
            <ion-button fill="clear" (click)="openProfile()" >
              <ion-icon name="person"></ion-icon>
            </ion-button>
          </div>
          <div>
            <!-- <ion-button (click)="openAddProduct()" style="color: grey;" fill="outline" shape="round">
              <ion-icon name="add"></ion-icon> product
            </ion-button> -->
          </div>
        </div>
      </div>
    </div>
    {{parameter}}
  </ion-toolbar>
  <div class="toolbar" color="primary">
    <div  class="navbar">
      <div class="categories" (click)="Categories($event)" >
        <p>All Categories</p> </div>
      <ion-button fill="clear" color="light" (click)="openHome(landing)" >home</ion-button>
      <ion-button fill="clear" color="light"(click)="openFAQRS()">FAQS</ion-button>
      <ion-button fill="clear" color="light" (click)="openQueries()">queries</ion-button>
      <ion-button fill="clear" color="light" (click)="openAboutUs()" >About</ion-button>
    </div>
  </div>
</ion-header>

  <div class="top-nav">
    <div class="nav-grid">
      <div (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </div>
      <div>{{productName}}</div>
      <div (click)="showMenu()">
        <ion-icon name="{{menuBtn}}"></ion-icon>
      </div>
    </div>
    <div id="options">
      <div class="menu-item" *ngIf="menuOpen == true">
        
      <div>HOME</div>
      <div>QUERIES</div>
      <div>FAQS</div>
      <div>ABOUT</div>
      </div>
    </div>
  </div>
<ion-content>
  <div class="body-content">
    <div class="intestines">
      <div id="breadcrumbs">

        <a (click)='goHome()'>landing</a> /
        <a>Product Details</a> /
        <a>{{productName}}</a>
      </div>
      <div id="heading">Product Details</div>
      <div class="inner-content">
        <div class="myImages">

        <div id="side-images">
          <div class="image-uploader-side">
            <input type="file" id="image-one" (change)='uploadImage($event, "imageSide")'>
            <label for="image-one">
              <p id="custom-label">Upload Side</p>
              <img [src]="imageSide" alt="">
            </label>
          </div>
          <div class="image-uploader-side">
            <input type="file" id="image-two" (change)='uploadImage($event, "imageBack")'>
            <label for="image-two">
              <p id="custom-label">Upload Back</p>
              <img [src]="imageBack" alt="">
            </label>
          </div>
          <div class="image-uploader-side">
            <input type="file" id="image-three" (change)='uploadImage($event, "imageTop")'>
            <label for="image-three">
              <p id="custom-label">Upload Top</p>
              <img [src]="imageTop" alt="">
            </label>
          </div>
        </div>
        <div id="big-image">
          <div class="main-view">
            <img [src]='image' alt="">
          </div>
        </div>
        </div>
        <div>
          <div class="inputs">
            <div class="user-form">
              <div class="item">
                <div class="image-input">
                  <input type="file" (change)='uploadImage($event, "image")'>
                </div>
              </div>
              <div class="item">
                <p class="custom-label">Product Name</p>
                <div class="myInput">
                  <input type="text" [(ngModel)]='updateName' (keyup)='changeName($event)'>
                </div>
              </div>
              <div class="toFlex">
                <div class="item">
                  <p class="custom-label">Price</p>
                  <div class="myInput">
                    <input type="number" [(ngModel)]='updatePrice' (keyup)='changePrice($event)' (keydown)='checknumberinput($event, "update_price")' onKeyPress="if(this.value.length==5) return false;">
                  </div>
                </div>
                <div class="item">
                  <p class="custom-label">Promo Price</p>
                  <div class="myInput">
                    <input type="number" disabled value='{{promoSalePrice}}'>
                  </div>
                </div>
              </div>
              <div class="toFlex">
                <div class="item">
                  <p id="product-code"><b>Product Code:</b> {{productCode}}</p>
                </div>
                <!-- <div *ngIf='price_invalid'>  validation for price, checking if characters exist
                  <p>Only numbers allowed in price input</p>
                </div> -->
                <div class="item">
                  <div class="opts">
                    <div id="perPack" (click)="toggleCombo('pack')">Per Pack</div>
                    <div id="perItem" (click)="toggleCombo('item')">Per Item</div>
                  </div>
                </div>

              </div>
              <div class="item">
                <p class="custom-label">Product Description</p>
                <div class="myInput">
                  <textarea name="" id="" cols="8" rows="4" [(ngModel)]='updateDescription' (keyup)='changeDescription($event)'></textarea>
                </div>
              </div>
              <div class="item push-down">
                <div>
                  <b>Available Sizes</b>
                  <input type='checkbox' name='checkboxS' [checked]='blnCheckS' id="checker" (change)='changeSizes($event, "S")'>S &nbsp;
                  <input type='checkbox' name='checkboxM' [checked]='blnCheckM' id="checker" (change)='changeSizes($event, "M")'>M &nbsp;
                  <input type='checkbox' name='checkboxL' [checked]='blnCheckL' id="checker" (change)='changeSizes($event, "L")'>L
                </div>
                <!-- <div>Product Size: {{availableSizes}}</div> -->
                <div>
                  Qty: {{updateQuantity}}
                  <div id="add" (click)="addQuantity()">
                    +
                  </div>
                  <div id="rem" (click)="minusQuantity()">-</div>
                </div>
              </div>
              <div class="item toFlex myInput space">
                <input type="number" placeholder="Percentage" [(ngModel)]='promoPercentage' (keyup)='calculateSalePrice($event)' (keydown)='checknumberinput($event, "promo_percentage")'>
                <button id="promoter" (click)='promoteProduct()' [disabled]='!promo_valid'>Promote</button>
              </div>
                    <div>
                      <button (click)='removeFromPromo()'>Remove</button>
                    </div>

              <div class="toFlex">
                <div class="item">
                  <p class="custom-label">Start Date</p>
                  <div class="myInput">
                    <input type='date' [(ngModel)]='promoStartDate' [min]='today' (change)='changeStartDate($event)'>
                  </div>
                </div>
                <div class="item">
                  <p class="custom-label">End Date</p>
                  <div class="myInput">
                    <input type="date" [(ngModel)]='promoEndDate' [max]='endDateLimit' (change)='changeEndDate($event)'>
                  </div>
                </div>
              </div>
              <div class="buttons">
                <button (click)='saveEdit()' [disabled]='!save_valid'>SAVE</button><button (click)='deleteProduct()'>DELETE</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <div class="footer-items">
      <div class="footer-logo">
        <img src="../../../assets/Group 175.png" alt="">
      </div>
      <div class="text" >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
           dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure
        </p>
      </div>
    </div>
  </div>
</ion-content>