<!-- <ion-content>
  <div id='main'>
    <div style='width: 90%; text-align: center; margin: auto; margin-top: 50px;'>
      <div style='display: block;'>
        <div id='left' style="position: relative; display: inline-block; width: 10%">
          <div style='position: relative; display: block; padding: 15px 0;'>
            <img [src]="imageSide" alt="">
            <input type='file' (change)='uploadImage($event, "imageSide")'>
          </div>
          <div style='position: relative; display: block; padding: 15px 0;'>
            <img [src]="imageBack" alt="">
            <input type='file' (change)='uploadImage($event, "imageBack")'>
          </div>
          <div style='position: relative; display: block; padding: 15px 0;'>
            <img [src]="imageTop" alt="">
            <input type='file' (change)='uploadImage($event, "imageTop")'>
          </div>
        </div>
        <div id='center' style="position: relative; display: inline-block; width: 45%">
          <div style="position: relative; display: inline-block; padding : 10px 10px"> 
            <img [src]='image' alt=''>
          </div>
        </div>
        <div id='right' style="position: relative; top: 0; display: inline-block; width: 45%;">
          <div>
            <input type='file' (change)='uploadImage($event, "image")'><br>
            <input type="text" [(ngModel)]='updateName'><br>
            <input type="number" [(ngModel)]='updatePrice'>&nbsp; &nbsp; <input type="number" value = '{{promoSalePrice}}'><br>
            <input type="text" [(ngModel)]='updateDescription'><br>
            <input type='checkbox'>S &nbsp;
            <input type='checkbox'>M &nbsp;
            <input type='checkbox'>L
              
            <div id='promo'>
              <input type='number' placeholder="Percentage" [(ngModel)]='promoPercentage' (keyup)='calculateSalePrice()'><button (click)='promoteProduct()'>Promote</button>
              <input type='date' [(ngModel)]='promoStartDate'><input type="date" [(ngModel)]='promoEndDate'>
            </div>
            <button (click)='saveEdit()'>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content> -->

<ion-content>
  <!-- <div class="top-nav">

  </div> -->
  <div class="body-content">
    <div class="intestines">
      <div id="breadcrumbs">

        <a href="">page</a> /
        <a href="">page</a> /
        <a href="">page</a>
      </div>
      <div id="heading">Product Details</div>
      <div class="inner-content">
        <div class="myImages">

        <div id="side-images">
          <div class="image-uploader-side">
            <input type="file" id="image-one" (change)='uploadImage($event, "imageSide")'>
            <label for="image-one">
              <p id="custom-label">Upload Side</p>
              <img [src]="imageSide" alt="">
            </label>
          </div>
          <div class="image-uploader-side">
            <input type="file" id="image-two" (change)='uploadImage($event, "imageBack")'>
            <label for="image-two">
              <p id="custom-label">Upload Back</p>
              <img [src]="imageBack" alt="">
            </label>
          </div>
          <div class="image-uploader-side">
            <input type="file" id="image-three" (change)='uploadImage($event, "imageTop")'>
            <label for="image-three">
              <p id="custom-label">Upload Top</p>
              <img [src]="imageTop" alt="">
            </label>
          </div>
        </div>
        <div id="big-image">
          <div class="main-view">
            <img [src]='image' alt="">
          </div>
        </div>
        </div>
        <div>
          <div class="inputs">
            <div class="user-form">
              <div class="item">
                <div class="image-input">
                  <input type="file" (change)='uploadImage($event, "image")'>
                </div>
              </div>
              <div class="item">
                <p class="custom-label">Product Name</p>
                <div class="myInput">
                  <input type="text" [(ngModel)]='updateName'>
                </div>
              </div>
              <div class="toFlex">
                <div class="item">
                  <p class="custom-label">Price</p>
                  <div class="myInput">
                    <input type="number" [(ngModel)]='updatePrice'>
                  </div>
                </div>
                <div class="item">
                  <p class="custom-label">Promo Price</p>
                  <div class="myInput">
                    <input type="number" disabled value='{{promoSalePrice}}'>
                  </div>
                </div>
              </div>
              <div class="toFlex">
                <div class="item">
                  <p id="product-code"><b>Product Code:</b> {{productCode}}</p>
                </div>
                <div class="item">
                  <div class="opts">
                    <div id="perPack" (click)="toggleCombo('pack')">Per Pack</div>
                    <div id="perItem" (click)="toggleCombo('item')">Per Item</div>
                  </div>
                </div>

              </div>
              <div class="item">
                <p class="custom-label">Product Description</p>
                <div class="myInput">
                  <textarea name="" id="" cols="8" rows="4" [(ngModel)]='updateDescription'></textarea>
                </div>
              </div>
              <div class="item push-down">
                <div>
                  <b>Sizes</b>
                  <input type='checkbox' id="checker">S &nbsp;
                  <input type='checkbox' id="checker">M &nbsp;
                  <input type='checkbox' id="checker">L
                </div>
                <div>Product Size: M</div>
                <div>
                  Qty: {{updateQuantity}}
                  <div id="add" (click)="addQuantity()">
                    +
                  </div>
                  <div id="rem" (click)="minusQuantity()">-</div>
                </div>
              </div>
              <div class="item toFlex myInput space">
                <input type="number" placeholder="Percentage" [(ngModel)]='promoPercentage' (keyup)='calculateSalePrice()'>
                <button id="promoter" (click)='promoteProduct()'>Promote</button>
              </div>
              <div class="toFlex">
                <div class="item">
                  <p class="custom-label">Start Date</p>
                  <div class="myInput">
                    <input type='date' [(ngModel)]='promoStartDate'>
                  </div>
                </div>
                <div class="item">
                  <p class="custom-label">End Date</p>
                  <div class="myInput">
                    <input type="date" [(ngModel)]='promoEndDate'>
                  </div>
                </div>
              </div>
              <div class="buttons">
                <button>SAVE</button><button>DELETE</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer">
    <div class="footer-items">
      <div class="footer-logo">
        <img src="../../../assets/Group 175.png" alt="">
      </div>
      <div class="text" >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
           dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure
        </p>
      </div>
    </div>
  </div>
</ion-content>