<ion-content>
  <div class="topHead">
    <div id="dismisser" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </div>
    <p>FAQs</p>
    <ion-searchbar type="text" id="searchQuestion" placeholder="Search keyword" [(ngModel)]="searching" (keyup)="querying()" icon-end></ion-searchbar>
  </div>
  <div class="queries" *ngIf="!searching">


    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers1()">
        <div id="arrow-default1">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Technical
      </div>
      <div class="cards" id="one">
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
      </div>
    </div>
    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers2()">
        <div id="arrow-default2">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Shipping and Orders
      </div>
      <div class="cards" id="two">
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
      </div>
    </div>
    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers3()">
        <div id="arrow-default3">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Products
      </div>
      <div class="cards" id="three">
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
      </div>
    </div>
    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers4()">
        <div id="arrow-default4">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Returns
      </div>
      <div class="cards" id="four">
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
        <ion-card id="card">
          <p id="question">What is your name?</p>
          <p id="answer">I thought I told you that my name is Sithembiso.</p>
        </ion-card>
      </div>
    </div>
  </div>
  <div class="queries" *ngIf="searching">
    <p class="my-heading">
      Matching results
    </p>
    
    <ion-card id="card">
      <p id="question">YOu searched for this question?</p>
      <p id="answer">Well, here is the answer then...</p>
    </ion-card>
  </div>

</ion-content>  