<ion-content>
  <div class="topHead">
    <div id="dismisser" (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </div>
    <p>FAQs</p>
    <ion-searchbar type="text" id="searchQuestion" placeholder="Search keyword" (keyup)='searchFAQs($event)' icon-end></ion-searchbar>
  </div>
  <div class="queries" *ngIf="searchArray.length === 0">


    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers1()">
        <div id="arrow-default1">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Technical
      </div>
      <div class="cards" id="one">
        <ion-card id="card" *ngFor='let item of technicalQuestions'>
          <p id="question">{{item.data.question}}</p>
          <p id="answer">{{item.data.answer}}</p>
        </ion-card>
        <ion-card id="card" *ngIf='technicalQuestions.length === 0'>
          <p id="answer">No frequently asked questions yet.</p>
        </ion-card>
      </div>
    </div>
    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers2()">
        <div id="arrow-default2">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Shipping and Orders
      </div>
      <div class="cards" id="two">
        <ion-card id="card" *ngFor='let item of orderQuestions'>
          <p id="question">{{item.data.question}}</p>
          <p id="answer">{{item.data.answer}}</p>
        </ion-card>
        <ion-card id="card" *ngIf='orderQuestions.length === 0'>
          <p id="answer">No frequently asked questions yet.</p>
        </ion-card>
      </div>
    </div>
    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers3()">
        <div id="arrow-default3">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Products
      </div>
      <div class="cards" id="three">
        <div>
          <ion-card id="card" *ngFor='let item of productQuestions'>
            <p id="question">{{item.data.question}}</p>
            <p id="answer">{{item.data.answer}}</p>
          </ion-card>
          <ion-card id="card" *ngIf='productQuestions.length === 0'>
            <p id="answer">No frequently asked questions yet.</p>
          </ion-card>
        </div>

      </div>
    </div>
    <div class="catogory">
      <div class="name-of-category" (click)="toggleAnswers4()">
        <div id="arrow-default4">
          <ion-icon name="arrow-down"></ion-icon>
        </div>
        Returns
      </div>
      <div class="cards" id="four">
        <ion-card id="card" *ngFor='let item of returnsQuestions'>
          <p id="question">{{item.data.question}}</p>
          <p id="answer">{{item.data.answer}}</p>
        </ion-card>
        <ion-card id="card" *ngIf='returnsQuestions.length === 0'>
          <p id="answer">No frequently asked questions yet.</p>
        </ion-card>
      </div>
    </div>
  </div>
  <div class="queries" *ngIf="searchArray.length !== 0">
    <p class="my-heading">
      Matching results
    </p>
    
    <ion-card id="card" *ngFor='let ques of searchArray'>
      <p id="question">{{ques.data.question}}</p>
      <p id="answer">{{ques.data.answer}}</p>
    </ion-card>
  </div>

</ion-content>  