.content-cover{
    border: solid red;
}
.name{
    border: solid blue;
}
.profile-details{
    border: solid green;
}
.admin-details{
    border: solid black;
}

.background-cover {
    top: 0;
    border: solid violet;
    height: 300px;
    width: 100%;
   
  }