<ion-content>
  <!-- <div class="loader-container" *ngIf="loader">
    <div class="loader">Loading...</div>
  </div> -->
  <div class="signOut" (click)="logOut()">
    <ion-icon name="log-out-outline"></ion-icon>
  </div>

  <div class="content-container">
    <div class="cover-image">
      <div class="prof">
        {{prof}}
      </div>
      <!-- <img src="../../../assets/(7) Facebook_files/13131656_978029165651981_599288125640070_o(1).jpg" alt=""> -->
    </div>
    <div class="details">
      <div class="dp">
        <input type="file" (change)="changeListener($event)" id="image" [disabled]="enableInputs">
        <label for="image">
          <div class="camera-icon" *ngIf="profileStatus == 'write'">
            <ion-icon name="camera"></ion-icon>
          </div>
          <img src="{{profile.image}}" alt="">  
        </label>
      </div>
      <div class="username">
        <p><b>{{profile.name}}</b></p>
        <p>{{profile.email}}</p>
      </div>
      <div class="inputs">
      <div class="userInput" id="growAnimation" *ngIf="profileStatus == 'write'">
        <div>
          <input type="text" placeholder="Full Name" onkeypress="return /[a-zA-Z\s]/i.test(event.key)" [(ngModel)]="profile.name">
        </div>
        <div>
          <ion-icon name="person"></ion-icon>
        </div>
      </div>
      <div class="userInput" id="growAnimation" *ngIf="profileStatus == 'write'">
        <div>
          <input type="email" placeholder="Email" [(ngModel)]="profile.email">
        </div>
        <div>
          <ion-icon name="mail"></ion-icon>
        </div>
      </div>
      <div class="userInput">
        <div>
          <input type="number" placeholder="Phone" [disabled]="enableInputs" [(ngModel)]="profile.phoneNumber">
        </div>
        <div>
          <ion-icon name="call"></ion-icon>
        </div>
      </div>
      <div class="userInput">
        <div>
          <input type="text" placeholder="Physical Address" [disabled]="enableInputs" [(ngModel)]="profile.address">
        </div>
        <div>
          <ion-icon name="location"></ion-icon>
        </div>
      </div>

      <button (click)='editProfile()' id="theButton" *ngIf="profileStatus == 'read'">Edit Profile</button>
      <button (click)='submitChanges()' id="theButton" *ngIf="profileStatus == 'write'">Done</button>

      </div>
    </div>
  </div>

</ion-content>