<ion-content>
    <!-- <div *ngFor='let item of orders'>
      <div (click)='viewOrderDetails(item)'> {{item.orderID}}</div>
    </div> -->

    <div class="content-container">
      <div class="list">
        <div class="header">
          <div class="closer">
            <ion-icon name="close" (click)='dismiss()'></ion-icon>
          </div>
          {{orderStat}} Orders
        </div>
        <div class="items" *ngIf='collection === "orders"'>

          <!-- start forLoop here -->
          <ion-card id="item" *ngFor='let item of orders' (click)='viewOrderDetails(item)'>
            <p id="order-status">
              {{item.data.status}}
            </p>
            <h3 *ngIf='item.user'>{{item.user.name}}</h3>
            <h3 *ngIf='!item.user'>Loading name...</h3>
            <p> <b>Date:</b> {{item.data.timestamp | date : 'mediumDate'}}</p>
            <p><b>Code:</b> {{item.orderID}} </p>
          </ion-card>
        </div>

        <div class="items" *ngIf='collection !== "orders"'>

          <!-- start forLoop here -->
          <ion-card id="item" *ngFor='let item of orders' (click)='viewOrderDetails(item)'>
            <p id="order-status">
              {{item.data.status}}
            </p>
            <h3 *ngIf='item.user'>{{item.user.name}}</h3>
            <h3 *ngIf='!item.user'>Loading name...</h3>
            <p> <b>Date:</b> {{item.data.dateClosed | date : 'mediumDate'}}</p>
            <p><b>Code:</b> {{item.orderID}} </p>
          </ion-card>
        </div>
      </div>
    </div>
</ion-content>
