

<ion-content>

  <div class="myHeader">
    <div class="head-top">
      <div class="components">

        <div>

          <img src="../../../assets/Group 235.png" alt="">
        </div>
        <div>
          <ion-searchbar (keyup)='searchProducts($event)'></ion-searchbar>
        </div>
        <div id="items-right">
          <div id="profile" (click)="openProfile()">
            <ion-icon name="person"></ion-icon>
          </div>
          <div>
            <ion-button id="adder-big" (click)="openAddProduct()" fill="outline" shape="round">
              <ion-icon name="add"></ion-icon> Product
            </ion-button>
            <ion-button id="adder-small" (click)="openAddProduct()" fill="outline" shape="round">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="head-tail">
      <div class="nav-buttons">
        <div id="categories">All Categories</div>
        <div (click)="navigate('landing')">HOME</div>
        <div (click)="openFAQRS()">FAQS</div>
        <div (click)="navigate('queries')">QUERIES</div>
        <div (click)="navigate('about-us')">ABOUT</div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="masonry">
      <div class="grid js-masonry">
        <figure class="item " *ngFor='let item of products' (click)='viewDetails(item)'>
          <img class="thumbnail img-responsive" [src]='item.data.image'>

          <span class="items-description">
            <span class="name">{{item.data.name}}</span>
            <div class="starz" *ngIf='item.data.avgRating'>
              <ion-icon name="star"></ion-icon> {{item.data.avgRating }}
            </div>
            <div class="starz" *ngIf='!item.data.avgRating'>
              <ion-icon name="star"></ion-icon> 0
            </div>
            <span class="price" *ngIf="item.data.onSale === false">{{item.data.price | currency : 'R '}}</span>
            
            <span class="price" *ngIf="item.data.onSale === true">{{item.data.salePrice | currency : 'R '}}</span>
            <span class="price-old" *ngIf="item.data.onSale === true">{{item.data.price | currency : 'R '}}</span>
          </span>
        </figure>

      </div>

    </div>
  </div>
  <hr>

  <div class="feet">
    <div id="desc">&copy; 2020 Pitseng Arts and Crafts</div>
  </div>
</ion-content>