<ion-header>
  <ion-toolbar>
    <div class="navigation-bar-upper-section">
      <div class="logo">
        <img src="../../../assets/Group 235.png" alt="">
      </div>
      <div class="nav-section">
        <div class="search-section">
          <ion-searchbar></ion-searchbar>
        </div>
        <div class="buttons">
          <div>
            <ion-button fill="clear" (click)="openProfile()" >
              <ion-icon name="person"></ion-icon>
            </ion-button>
          </div>
          <div>
            <ion-button (click)="openAddProduct()" style="color: grey;" fill="outline" shape="round">
              <ion-icon name="add"></ion-icon> product
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
  <div class="toolbar" color="primary">
    <div  class="navbar">
      <div class="categories" (click)="Categories($event)" >
        <p>All Categories</p> </div>
      <ion-button fill="clear" color="light" (click)="openHome(landing)" >home</ion-button>
      <ion-button fill="clear" color="light"(click)="openFAQRS()">FAQS</ion-button>
      <ion-button fill="clear" color="light" (click)="openOrders()" >ORDERS</ion-button>
      <ion-button fill="clear" color="light" (click)="openQueries()">queries</ion-button>
      <ion-button fill="clear" color="light" (click)="openAbout()" >About</ion-button>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="main-content">
    <div class="content">
      <div class="card" *ngFor='let item of products'>
        <div (click)='viewDetails(item)'>
          <div class="image">
            <img [src]='item.data.image'>
          </div>
          <span class="items-description">
            <span class="name">{{item.data.name}}</span>
            <div class="starz">
              <ion-icon name="star"></ion-icon>&nbsp;
              <ion-icon name="star"></ion-icon>&nbsp;
              <ion-icon name="star"></ion-icon>&nbsp;
              <ion-icon name="star"></ion-icon>&nbsp;
              <ion-icon name="star-half-outline"></ion-icon>
            </div>
            <span class="price">{{item.data.price | currency : 'R '}}</span>
          </span>
        </div>
      </div>


    </div>

  </div>

  <div class="footer">
    <div class="footer-items">
      <div class="footer-logo">
        <img src="../../../assets/Group 175.png" alt="">
      </div>
      <div class="text" >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
           dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure
        </p>
      </div>
    </div>
  </div>
</ion-content>
