<ion-header id="web">
  <ion-toolbar>
    <div class="navigation-bar-upper-section">
      <div class="logo">
        <img src="../../../assets/Group 235.png" alt="">
      </div>
      <div class="nav-section">
        <div class="search-section">
          <ion-searchbar></ion-searchbar>
        </div>
        <div class="buttons">
          <div>
            <ion-button fill="clear" (click)="openProfile()" >
              <ion-icon name="person"></ion-icon>
            </ion-button>
          </div>
          <div>
            <ion-button (click)="openAddProduct()" style="color: grey;" fill="outline" shape="round">
              <ion-icon name="add"></ion-icon> product
            </ion-button>
          </div>
        </div>
      </div>
    </div>
    <!-- {{parameter}} -->
  </ion-toolbar>
  <div class="toolbar" color="primary">
    <div  class="navbar">
      <div class="categories" (click)="Categories($event)" >
        <p>All Categories</p> </div>
        <ion-button fill="clear" color="light" (click)="navigate('landing')" >home</ion-button>
        <ion-button fill="clear" color="light"(click)="navigate('faqs')">FAQS</ion-button>
        <ion-button fill="clear" color="light" (click)="navigate('queries')">queries</ion-button>
        <ion-button fill="clear" color="light" (click)="navigate('about')">About</ion-button>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="content-section">
    <div class="content">
      <div class="message-section">
        <h1>Messages</h1>
        <div class="messages">
          <div class="message-card" *ngFor="let m of message; let i=index " [ngClass]="{'active': active==i}"
            (click)="showList(i,m)">
            <div *ngIf="!myProduct" class="empty">
              <ion-title> no sent messages at the moment</ion-title>
            </div>
            <ion-card padding>
              <div>
                <h2>{{ m.name}}</h2>
                <ion-note>
                  {{m.email}}
                </ion-note>
                <h3>{{ m.subject}}</h3>
              </div>
              <ion-card-content color="dark" >
                <p>
                  {{m.message}}
                </p>
              </ion-card-content>

              <ion-row>
                <ion-col>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col align-self-center text-center>
                  <ion-note>
                  {{m. timestamp | date : 'mediumDate'}}
                  </ion-note>
                </ion-col>
              </ion-row>
            </ion-card>
          </div>



        </div>

      </div>
      <div class="replay-section">
        <h1>
          Reply to messages
        </h1>
        <div class="response">
          <ion-label>Reply to: <p> {{userMessage.mail}}</p>
          </ion-label>
        </div>
        <div class="response-as">
          <ion-label>Reply as: <p>{{admin.email}}</p>
          </ion-label>
        </div>
        <div class="response-as">
          <ion-label>Subject: <p>{{userMessage.subject}}</p>
          </ion-label>
        </div>
        <div>
          <input type='checkbox' (change)='changeFAQsBoolean($event)'>Add to FAQs
          <select (change)="changeCategory($event)">
            <option value='i' *ngFor='let i of categories' [value]='i'>{{i}}</option>
          </select> 
        </div>
        <div class="write-message">
          <textarea placeholder="Message" name="" [(ngModel)]="msg" id="" cols="60"></textarea>
        <div class="btn">
          <ion-button shape="round" (click)="sendReply()" expand="outline" color="medium" >send response</ion-button>
        </div>
        </div>
      </div>

    </div>

  </div>


</ion-content>

