<ion-content>
  <!-- <div *ngIf='status'>
    <button (click)='closeOrder("cancelled")' *ngIf='status === "received"'>Cancel</button>
    <button (click)='processOrder("processed")' *ngIf='status === "received"'>Process</button>
    <button (click)='processOrder("ready")' *ngIf='status === "processed"'>Ready</button>
    <button (click)='closeOrder("collected")' *ngIf='status === "ready"'>Collected</button>
    <button (click)='closeOrder("delivered")' *ngIf='status === "ready"'>Delivered</button>
  </div> -->

  <div class="overlayer">
    <div class="infographics">
      <div class="dismisser">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div class="details" id="left">
        <div class="header">
          Items Ordered
          <div class="total">Total: {{item.data.totalPrice | currency : 'R '}}</div>
        </div>
        <div class="list">
          <ion-card class="product" *ngFor='let item of products' (click)='viewItem(item)'>
            <div>
              <img [src]="item.picture" alt="">
            </div>
            <div>
              <p id="prod-name">{{item.name}}</p>
              <p>
                <b>Code:</b> {{item.productCode}}
              </p>
              <p>
                <b>Size:</b> {{item.size}}
              </p>
              <p>
                <b>Price:</b> {{item.cost | currency : 'R '}}
              </p>
              <p>
                <b>Qty:</b> {{item.quantity}}
              </p>
            </div>
          </ion-card>
        </div>
        <div class="tracker">
          <p>Order Progress Status {{status}}</p>
          <div class="prog-bar">
            <div id="one">1</div>
            <div></div>
            <div id="two">2</div>
            <div></div>
            <div id="three">3</div>
            <div></div>
            <div id="four">4</div>
          </div>

          <div class="buttons">
            <button id="cancel" (click)="cancelOrder()" *ngIf="status === 'received'">Cancel</button>
            <button id="approve" (click)="approveOrder()" *ngIf="status === 'received'">Approve</button>
            <button id="ready" (click)="prepareOrder()" *ngIf="status === 'processed'">Order Ready</button>
            <button id="ready" (click)="concludeOrder()" *ngIf="status == 'ready'">Conclude Order</button>
            <p id="cancelledOrder" *ngIf="status === 'cancelled'">Order was cancelled</p>
          </div>
        </div>
      </div>
      <div class="details" id="right">
        <img id="selected-image" [src]="selectedItem.picture" alt="">

        <div class="about-prod">
          <p id="item-price">{{selectedItem.cost | currency : 'R '}}</p>
          <p id="item-name"><b>{{selectedItem.product_name}}</b></p>
          <p id="item-name"><b>Product Code:</b> {{selectedItem.productCode}}</p>
          <p>{{selectedItem.description}}</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>