<ion-content>
  <!-- <div *ngIf='status'>
    <button (click)='closeOrder("cancelled")' *ngIf='status === "received"'>Cancel</button>
    <button (click)='processOrder("processed")' *ngIf='status === "received"'>Process</button>
    <button (click)='processOrder("ready")' *ngIf='status === "processed"'>Ready</button>
    <button (click)='closeOrder("collected")' *ngIf='status === "ready"'>Collected</button>
    <button (click)='closeOrder("delivered")' *ngIf='status === "ready"'>Delivered</button>
  </div> -->

  <div class="overlayer">
    <div class="infographics">
      <div class="dismisser">
        <ion-icon name="arrow-back"></ion-icon>
      </div>
      <div class="details" id="left">
        <div class="header">
          Items Ordered
          <div class="total">Total: {{totalPrice}}</div>
        </div>
        <div class="list">
          <ion-card class="product">
            <div>
              <img src="../../../assets/(7) Facebook_files/13131656_978029165651981_599288125640070_o(1).jpg" alt="">
            </div>
            <div>
              <p id="prod-name">lorem</p>
              <p>
                <b>Code:</b> JHB34578
              </p>
              <p>
                <b>Size:</b> M
              </p>
              <p>
                <b>Price:</b> R200.00
              </p>
              <p>
                <b>Qty:</b> 1
              </p>
            </div>
          </ion-card>
        </div>
        <div class="tracker">
          <p>Order Progress Status {{status}} Same thing</p>
          <div class="prog-bar">
            <div id="one">1</div>
            <div></div>
            <div id="two">2</div>
            <div></div>
            <div id="three">3</div>
            <div></div>
            <div id="four">4</div>
          </div>

          <div class="buttons">
            <button id="cancel" (click)="cancelOrder()" *ngIf="status === 'received'">Cancel</button>
            <button id="approve" (click)="approveOrder()" *ngIf="status === 'received'">Approve</button>
            <button id="ready" (click)="prepareOrder()" *ngIf="status === 'processed'">Order Ready</button>
            <button id="ready" (click)="concludeOrder()" *ngIf="status == 'ready'">Conclude Order</button>
            <p id="cancelledOrder" *ngIf="status === 'cancelled'">Order was cancelled</p>
          </div>
        </div>
      </div>
      <div class="details" id="right">
        <img id="selected-image" src="../../../assets/(7) Facebook_files/13131656_978029165651981_599288125640070_o(1).jpg" alt="">

        <div class="about-prod">
          <p id="item-price">R300</p>
          <p id="item-name"><b>Capfilled bulb</b></p>
          <p id="item-name"><b>Product Code:</b> JFK1256347</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro eaque quae, magni labore est ipsam culpa vitae molestias architecto delectus, aperiam totam, quos doloremque beatae accusantium! Deserunt, dolorem harum?</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>