<ion-content>
  <div>
    <ion-card *ngFor='let item of sales'>
      <div style='width: 20%; display: inline-block; padding :10px; border: 1px solid black'>
        <img [src]='item.data.image'>
      </div>
      <div style='position: relative; top : 5%; display: inline-block; border: 1px solid black; margin-top: 0'>
        <span>Name: {{item.data.name}}</span> <br>
        <span>Starts: {{item.data.startDate | date : 'mediumDate'}}</span> <br>
        <span>Ends: {{item.data.endDate | date : 'mediumDate'}}</span> <br>
      </div>
      <div>
        <button (click)='deleteSpecialsItem(item.orderID)'>Delete</button>
      </div>

    </ion-card>
  </div>
</ion-content>
