<ion-content>
  <div class="main-content">
    <div class="content">
      <div class="front-view">
         <img  [src]="frontViewLink" width="200px" height="200px" alt="">
        
          <div class="btn-normal ">
             <label for="file-uploadFront" id="front_label">Front view</label>
             <ion-label>progress: 100%</ion-label>
          </div>
          <input   type='file' placeholder="front view" accept="image/jpeg, jpg, tif, png"
          (change)='changeFrontImage($event, this.frontViewImage)' id="file-uploadFront">
          
      </div>
      <br>
      <div class="views">
        <div class="side-view">
          <img [src]="sideViewLink" alt="">
          <div>
            <div class="btn-normal ">
               <label  for="file-uploadSide">side view</label>
            </div>
           
            <input type='file' accept="image/jpeg, jpg, tif, png" (change)='changeSideImage($event, this.sideViewImage)' id="file-uploadSide">
          </div>
        </div>
        <div class="back-view">
          <img [src]="backViewLink" alt="">
          <div>
            <div class="btn-normal " >
              <label  for="file-uploadBack">Back view</label>
            </div>
            
            <input type='file' accept="image/jpeg, jpg, tif, png" (change)='changeBackImage($event, this.backViewImage)' id="file-uploadBack">
          </div>
        </div>
        <div class="top-view">
          <img [src]="topViewLink" alt="">
          <div>
            <div class="btn-normal ">
              <label  for="file-uploadTop">Top view</label>
            </div>
            
            <input type='file' accept="image/jpeg, jpg, tif, png" (change)='changeTopImage($event, this.topViewImage)' id="file-uploadTop" >
          </div>
        </div>
      </div>
      <br>
     
      <div class="names-section" >
        <ion-item >
          <ion-input type='text' placeholder="product name" maxlength='25' [(ngModel)]='productName' (keyup)='validateForm()'></ion-input>
        </ion-item>
        <ion-item  >
          <ion-input type='number' placeholder="price" max='4' [(ngModel)]='productPrice' (keyup)='validatePrice($event)'></ion-input>
        </ion-item>
      </div>
      <textarea placeholder="product description" type='text' maxlength='250' [(ngModel)]='productDescription' (keyup)='validateForm()'></textarea>
      <select #departmentCombo (change)="changeCategory($event);">
        <option value='i' *ngFor='let i of categoryOptions' [value]='i' id="options">{{i}}</option>
      </select>

      <div class="s-q" >
        <div class="size">
          <p>size:</p>
          <div>
            <label class="container">S
              <input type='checkbox' (change)='changeProductSize($event, "S")'>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="container">M
              <input type='checkbox' (change)='changeProductSize($event, "M")'>
              <span class="checkmark"></span>
            </label>
          </div>
          <div>
            <label class="container">L
              <input type='checkbox' (change)='changeProductSize($event, "L")'>
              <span class="checkmark"></span>
            </label>
          </div>
  
        </div>
        <div class="quantity">
          <div>
              <ion-icon name="remove-circle-outline" color="secondaryColor"  (click)='subtractQty()'></ion-icon>  <input type="number" style="outline: none;" placeholder="Qty" [(ngModel)]='productQuantity' (keyup)='validateQty($event)'>
               <ion-icon name="add-circle-outline" color="secondaryColor"(click)='addQty()' ></ion-icon>
          </div>
        </div>
      </div>
     <div class="items" >
               <div  class="order_type">
          <ion-button color="transparent" id="delivery" (click)='enableItem()' (click)="switchView('d')"
            [ngClass]="{'delivery':buttonActive, 'delivery-inactive': !buttonActive}">
            Per item
          </ion-button>
          <ion-button color="transparent" id="collection" (click)='enablePack()' (click)="switchView('c')"
            [ngClass]="{'collection': !buttonActive, 'collection-inactive': buttonActive}">
            Per pack
          </ion-button>
        </div>
     </div>


    

   <ion-button color="primary" style="margin-top: 20px;"  (click)='saveProduct()' [disabled]='!formValid'>Save</ion-button>

     
    </div>
  </div>
</ion-content>